.formData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin: 20px 10px;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px black;
  box-sizing: border-box;

  .group{
    display: flex;
    width: 90%;
    flex-direction: column;
    font-size: 12px;
    flex-wrap: nowrap;

    input:-webkit-autofill {
      border: none;
      -webkit-text-fill-color: whitesmoke;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    .spacing{
      word-spacing: 5px;
    }
  }

  .submit{
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 10px;
    background: yellowgreen;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .submit:hover{
    box-shadow: 0px 0px 10px 2px yellowgreen;
    text-shadow: none;
  }

  .submit:active{
    box-shadow: none;
  }

  .submit:disabled{
    background: rgba(10, 10, 10, 0.274);
    color: rgb(133, 133, 133);
    box-shadow: none;
  }

  .instructions{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    box-sizing: border-box;

    p{
      text-align: center;
      font-size: 12px;
      margin: 0;
    }

    .spacing{
      word-spacing: 5px;
    }
  }
}

@media screen and (max-width:620px){
  .formData{
    padding: 20px 5px;
  }
}
