@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.profile-card{
  .header{
    h2,h4{
      font-family: 'Rajdhani', sans-serif;
    }
  }
}

.mat-list-item{
  color: whitesmoke;
  font-family: 'Rajdhani', sans-serif;
}

.profile-card{
  text-align: center;
  padding: 0 20px 20px 20px;

  img{
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.subH{
  color:yellowgreen !important;
  text-shadow: 2px 2px 2px black;
}

a:hover{
  color: yellowgreen;
  text-shadow: 2px 2px 2px black;
}
