mat-toolbar{
  height:50px !important;
  background: rgba(0, 0, 0, 0.877);
  color: whitesmoke;
  font-size: 15px;

  .mat-toolbar-row{
    height: 50px !important;

    img{
      width: 50px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}
