.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;

  .sync{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px black;
    margin-bottom: 20px;
    border: 1px solid rgb(153, 0, 255);
    box-sizing: border-box;

    .btn-sync{
      width: fit-content;
      display: block;
      border: none;
      border-radius: 5px;
      padding: 0px 15px;
      margin: 0 auto 10px;
      background: yellowgreen;
      color: white;
      text-shadow: 2px 2px 2px black;
    }

    .btn-sync:hover{
      box-shadow: 0px 0px 10px 2px yellowgreen;
      text-shadow: none;
    }

    .btn-sync:active{
      box-shadow: none;
    }

    p{
      text-align: center;
    }

    .localData{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      //border: 1px solid yellow;

      .localLabels{
        display: flex;
        flex-direction: column;
        width: fit-content;
        min-width: 200px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px black;
        //border: 1px solid rgb(0, 26, 255);

        .fa-trash{
          color: rgb(141, 0, 0);
          cursor: pointer;
          align-self: flex-end;
          //border: 1px solid rgb(0, 255, 13);
        }

        .fa-trash:hover{
          text-shadow:2px 2px 10px yellowgreen;
        }

        h4{
          margin: 0 10px 10px 10px;
          align-self: flex-start;
          width: 95%;
          padding-left: 10px;
          border-bottom:1px solid whitesmoke ;
          box-sizing: border-box;
        }

        ul{
          list-style: none;
          padding: 0 10px;
          li{
            color: yellowgreen;

            span{
              color: whitesmoke;
            }
          }
        }

      }

      .chartValues{
        display: flex;
        flex-grow: 2;
        align-content: center;
        justify-content: center;
        align-self: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 150px;
        height: fit-content;

        padding: 10px 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px black;
        box-sizing: content-box;
        //border: 1px solid purple;

        h4{
          margin: 0 10px 20px 10px;
          align-self: flex-start;
          width: 98%;
          padding-left: 10px;
          border-bottom:1px solid whitesmoke ;

        }

        .deleteWarn{
          color: red;
          font-size: 12px;
          display: block;
          align-self: center;
        }

        .dataSeries{
          width: 100%;
          min-width: 150px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          align-self: center;
          gap: 10px;
          box-sizing: border-box;
          //border: 1px solid red;
          flex-grow: 2;


          .series{
            display: flex;
            width: fit-content;
            min-width: 150px;
            justify-content: center;
            //border: 1px solid rgb(0, 60, 255);
            flex-wrap: nowrap;
            flex-grow: 1;

            .block{
              min-width: 200px;
              max-width: fit-content;
              position: relative;
              padding: 2px 20px;
              margin-top: 3px;
              font-size: 12px;
              box-shadow: 0px 0px 10px 2px black;
              border-radius: 5px;
              box-sizing: border-box;
              border: 1px solid yellowgreen;



              .fa-trash{
                position: absolute;
                right: 5px;
                top: 5px;
                color: rgb(141, 0, 0);
                cursor: pointer;
              }

              .fa-trash:hover{
                text-shadow:2px 2px 10px yellowgreen;
              }

              .seriesHeader{
                display: flex;
                flex-direction: row;

                border-bottom: 1px solid whitesmoke;

                .seriesName{
                  margin-top: 0px;
                  width: fit-content;
                  min-width: 100px;
                  //border: 1px solid red;
                }

                .target{
                  display: flex;
                  flex-direction: row;
                  width: fit-content;
                  flex-wrap: wrap;
                  span{
                    color: yellowgreen;
                    margin-left: 5px;
                  }
                }
              }

              .seriesValue{
                margin-top: 0px;
              }
            }
          }
        }

        @media screen and (max-width:620px){
          .dataSeries{
            justify-content: center;
          }
        }
      }
    }
  }

  .savedWarn{
    color: yellowgreen;
    text-align: center;
    font-size: 12px;
    padding: 5px 5px;
  }

  .dataContainer{
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .formContainer{
      width: 30%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .formLabel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        margin: 20px 10px;
        padding: 20px 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px black;
        box-sizing: border-box;

        p{
          margin: 0;
        }

        .group{
          display: flex;
          width: 90%;
          flex-direction: column;
          font-size: 12px;
          flex-wrap: nowrap;

          input:-webkit-autofill {
            border: none;
            -webkit-text-fill-color: whitesmoke;
            -webkit-box-shadow: 0 0 0px 1000px transparent inset;
            box-shadow: 0 0 0px 1000px transparent inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          .spacing{
            word-spacing: 5px;
          }
        }

        .submit{
          width: fit-content;
          border: none;
          border-radius: 5px;
          padding: 0px 15px;
          margin-top: 10px;
          background: yellowgreen;
          color: white;
          text-shadow: 2px 2px 2px black;
        }

        .submit:hover{
          box-shadow: 0px 0px 10px 2px yellowgreen;
          text-shadow: none;
        }

        .submit:active{
          box-shadow: none;
        }

        .instructions{
          width: 100%;
          margin-top: 10px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid yellowgreen;
          box-sizing: border-box;

          ol{
            padding: 5px 5px 5px 20px;

            li{
              text-align: justify;
              font-size: 12px;
              margin: 0;
              margin-bottom: 10px;

              .spacing{
                word-spacing: 5px;
                font-size: 12px;
              }
            }
          }
        }

        @media screen and (max-width:620px){
          .group{
            flex-direction: column;

            label{
              margin-top: 10px;
            }

            input[type=text],
            input[type=number]{
              margin: 0;
            }
          }
        }
      }

      @media screen and (max-width:620px){
        .formLabel{
          margin: 0;
          padding: 20px 5px;
        }
      }

      .formData{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        margin: 20px 10px;
        padding: 20px 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px black;
        box-sizing: border-box;

        .group{
          display: flex;
          width: 90%;
          flex-direction: column;
          font-size: 12px;
          flex-wrap: nowrap;

          input:-webkit-autofill {
            border: none;
            -webkit-text-fill-color: whitesmoke;
            -webkit-box-shadow: 0 0 0px 1000px transparent inset;
            box-shadow: 0 0 0px 1000px transparent inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          .spacing{
            word-spacing: 5px;
          }
        }

        .submit{
          width: fit-content;
          border: none;
          border-radius: 5px;
          padding: 0px 15px;
          margin-top: 10px;
          background: yellowgreen;
          color: white;
          text-shadow: 2px 2px 2px black;
        }

        .submit:hover{
          box-shadow: 0px 0px 10px 2px yellowgreen;
          text-shadow: none;
        }

        .submit:active{
          box-shadow: none;
        }

        .submit:disabled{
          background: rgba(10, 10, 10, 0.274);
          color: rgb(133, 133, 133);
          box-shadow: none;
        }

        .instructions{
          width: 100%;
          margin-top: 10px;
          padding: 5px;
          border: 1px solid yellowgreen;
          border-radius: 5px;
          box-sizing: border-box;

          p{
            text-align: center;
            font-size: 12px;
            margin: 0;

          }

          .spacing{
            word-spacing: 5px;
          }
        }
      }

      @media screen and (max-width:620px){
        .formData{
          padding: 20px 5px;
        }
      }
    }

    @media screen and (max-width:621px){
      .formContainer{
        min-width:fit-content;
      }
    }

    .chartValues{
      display: flex;
      flex-grow: 2;
      align-content: center;
      justify-content: center;
      align-self: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 250px;
      width: 45%;
      height: fit-content;
      padding: 20px;
      box-sizing: content-box;

      h3{
        margin: 0 0 10px;
        align-self: center;
      }

      .deleteWarn{
        color: red;
        font-size: 12px;
        display: block;
        align-self: center;
      }

      .dataSeries{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .series{
          flex-grow: 1;

          .block{
            position: relative;
            padding: 2px 20px;
            margin-top: 3px;
            font-size: 12px;
            box-shadow: 0px 0px 10px 2px black;
            border-radius: 5px;
            border: 1px solid yellowgreen;

            .fa-trash{
              position: absolute;
              right: 5px;
              top: 5px;
              color: rgb(141, 0, 0);
              cursor: pointer;
            }

            .fa-trash:hover{
              text-shadow:2px 2px 10px yellowgreen;
            }

            .seriesHeader{
              display: flex;
              flex-direction: row;
              border-bottom: 1px solid whitesmoke;

              .seriesName{
                margin-top: 0px;
              }

              .target{
                margin-left: 20px;
                span{
                  color: yellowgreen;

                }
              }
            }

            .seriesValue{
              margin-top: 0px;
            }
          }
        }
      }

      @media screen and (max-width:620px){
        .dataSeries{
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width:620px){
    .dataContainer{
      justify-content: center;
    }
  }

  app-widget-area{
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 2px black;
  }
}

::ng-deep .formLabel,::ng-deep .formData {
  .mat-focused .mat-form-field-ripple {
    background-color: whitesmoke !important;
  }
  .mat-focused .mat-form-field-label {
    color: yellowgreen !important;
  }
  .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  .mat-form-field-underline{
    background-color:yellowgreen !important;
  }
  .mat-input-element::placeholder{
    color: rgb(145, 143, 143);
  }
}
