.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;

@import './styles/sync.scss';

  .savedWarn{
    color: yellowgreen;
    text-align: center;
    font-size: 12px;
    padding: 5px 5px;
  }

  .dataContainer{
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .formContainer{
      width: 30%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @import './styles/formLabel.scss';

      @import './styles//formData.scss';
    }

    @media screen and (max-width:621px){
      .formContainer{
        min-width:fit-content;
      }
    }

    @import './styles/chartValues.scss';
  }

  @media screen and (max-width:620px){
    .dataContainer{
      justify-content: center;
    }
  }

  app-widget-area{
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 2px black;
  }
}

::ng-deep .formLabel,::ng-deep .formData {
  .mat-focused .mat-form-field-ripple {
    background-color: whitesmoke !important;
  }
  .mat-focused .mat-form-field-label {
    color: yellowgreen !important;
  }
  .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  .mat-form-field-underline{
    background-color:yellowgreen !important;
  }
  .mat-input-element::placeholder{
    color: rgb(145, 143, 143);
  }
}
