.wrapper{
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  .formContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    .labelsForm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 250px;
      width: 30%;
      height: fit-content;
      padding: 10px;
      box-shadow: 0px 0px 10px 2px black;
      border-radius: 5px;

      .group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        margin-top: 10px;

        label{
          margin-right: 5px;
          font-size: 12px;
        }

        input[type=text]{
          font-size: 12px;
          border: none;
          border-bottom:1px solid yellowgreen;
          background: transparent;
          color: whitesmoke;
        }

      }

      input[type=submit]{
        width: fit-content;
        align-self: center;
        padding: 5px 10px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background: yellowgreen;
        color: white;
        font-size: 12px;
      }
    }

    .dataForm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 250px;
      width: 30%;
      height: fit-content;
      padding: 10px;
      box-shadow: 0px 0px 10px 2px black;
      border-radius: 5px;

      .group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        margin-top: 10px;

        label{
          margin-right: 5px;
          font-size: 12px;
        }

        input[type=text]{
          font-size: 12px;
          border: none;
          background: transparent;
          border-bottom:1px solid yellowgreen;
        }
      }

      input[type=submit]{
        width: fit-content;
        align-self: center;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        margin-top: 20px;
        background: yellowgreen;
        color: white;
        font-size: 12px;
      }
    }

    .tableContent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 250px;
      width: 30%;
      padding: 10px;
      box-shadow: 0px 0px 10px 2px black;
      border-radius: 5px;

      .dataDB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        width: 100%;
        border-radius: 5px;
        padding: 10px 5px;

        .deleteWarn{
          color: red;
          font-size: 12px;
        }

        .dataElements{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 250px;
          border: 1px solid yellowgreen;
          border-radius: 5px;
          box-shadow: 0px 0px 10px 2px black;
          margin: 5px 0;

          .elemetName{
            width: 50%;
            align-self: flex-end;
            text-align: left;
            margin-right: 10px;
            padding-left: 5px;
          }
          .elemetData{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: space-between;
            width: 40%;

            .data{
              width: fit-content;
            }

            .icon{
              position: absolute;
              width: fit-content;
              right: 0;

              .fa-trash{
                color: rgb(110, 0, 0);
                cursor: pointer;
              }

              .fa-trash:hover{
                color: rgb(247, 0, 0);
                text-shadow: 0px 0px 10px rgb(109, 226, 0);
              }
            }
          }
        }
      }

      .percentage{
        margin-top: 10px;
        text-align: center;
        word-wrap: break-word;
      }
    }
  }
}
