<div class="wrapper">
  <div class="formContainer">
    <form class="labelsForm" #setPieLabels="ngForm"  (ngSubmit)="onSubmitLabels(setPieLabels)">
      <div class="savedWarn" *ngIf="savedLabelsWarn">
        {{savedLabelsWarn}}
      </div>

      <div class="groupContent">
        <div class="group">
          <label for="title">Chart Title: </label>
          <input
            type="text"
            name="title"
            #title="ngModel"
            [(ngModel)]="pieChartLabels.title"
            maxlength="25"
          >
        </div>
        <div class="group">
          <label for="valueSufix">Value Suffix: </label>
          <input
            type="text"
            name="valueSufix"
            #valueSufix="ngModel"
            [(ngModel)]="pieChartLabels.valueSufix"
            placeholder="%, km, $..."
            maxlength="10"
          >
        </div>
        <div class="group">
          <label for="seriesName">Series Name: </label>
          <input
            type="text"
            name="seriesName"
            #seriesName="ngModel"
            [(ngModel)]="pieChartLabels.seriesName"
            maxlength="25"
          >
        </div>
      </div>

      <input type="submit" value="Save Labels">
    </form>

    <form class="dataForm" #setPieData="ngForm"  (ngSubmit)="onSubmitData(setPieData)">
      <div class="savedWarn" *ngIf="savedDataWarn">
        {{savedDataWarn}}
      </div>

      <div class="groupContent">
        <div class="group">
          <label for="pieceName">Piece Name: </label>
          <input
            type="text"
            name="pieceName"
            #pieceName="ngModel"
            [(ngModel)]="pieChartData.pieceName"
            maxlength="25"
            required
          >
        </div>
        <div class="group">
          <label for="percentage">Value: </label>
          <input
            type="number"
            name="percentage"
            #percentage="ngModel"
            [(ngModel)]="pieChartData.percentage"
            maxlength="9"
            required
          >
        </div>
      </div>

      <span class="form_error" *ngIf="pieceName.touched && !pieceName.valid ">
        <strong>*Piece Name is required</strong>
      </span>
      <span class="form_error" *ngIf="percentage.touched && !percentage.valid">
        <strong>*Value is required</strong>
      </span>

      <input
        type="submit"
        value="Save Data"
        [disabled]="!setPieData.form.valid || pieChartData.percentage==''"
      >
    </form>

    <div class="tableContent">
      <table class="dataDB">
        <div class="deleteWarn" *ngIf="deleteWarn">
          {{deleteWarn}}
        </div>
        <tr class="dataElements" *ngFor="let element of dataSeries">
          <td class="elemetName">
            {{element.name}}
          </td>
          <td class="elemetData">
            <div class="data">
              {{element.data}} {{pieChartLabels.valueSufix}} =
            </div>
            <div class="percentageUnit">
              {{(element.data*100)/totalPercentage | number: '1.1-1'}} %
            </div>
            <div class="icon">
              <i class="fas fa-trash"
                 title="Delete this Element"
                 (click)="deleteSeries(element.id)">
              </i>
            </div>
          </td>
        </tr>
      </table>
      <div class="percentage">
        Total Sum: {{totalPercentage}} {{pieChartLabels.valueSufix}}
      </div>
    </div>
  </div>

  <app-widget-pie
    class="pieSection"
    (dataSeries)="dataSeriesOutput($event)"
    (dataLabelsId)="getIdLabel($event)">
  </app-widget-pie>
</div>
