<div class="wrapper">
  <div class="sync" [style.display]="(localDBEmpty)? 'block':'none'">
    <button
      mat-raised-button
      type="button"
      class="btn-sync"
      (click)="syncLocal()"
      [disabled]="!localDBEmpty"
    >
      Sync
    </button>
    <p>
      You have saved data Offline:
    </p>
    <p>
      When your Internet connection is back push the Sync Button to save it on the server
    </p>


    <div class="localData">

      <div class="localLabels" *ngFor="let label of localLabels">
        <i
          class="fas fa-trash"
          title="Delete this Series"
          (click)="deleteSeriesLocal(label)"
        >
        </i>
        <h4>Labels</h4>
        <ul>
          <li>Chart Title: <span>{{label.title}}</span></li>
          <li>Chart Sub-Title: <span>{{label.valueSufix}}</span></li>
          <li>X Label: <span>{{label.seriesName}}</span></li>
        </ul>
      </div>

      <div class="tableContent">
        <h4>Data Series</h4>
        <table class="dataDB">
          <div class="deleteWarn" *ngIf="deleteWarn">
            {{deleteWarn}}
          </div>
          <tr class="dataElements" *ngFor="let element of dataSeriesLocal">
            <td class="elemetName">
              {{element.name}}
            </td>
            <td class="elemetData">
              <div class="data">
                {{element.data}} {{pieChartLabels.valueSufix}}
              </div>
              <div class="icon">
                <i class="fas fa-trash"
                  title="Delete this Element"
                  (click)="deleteSeriesLocal(element)">
                </i>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>



  <div class="formContainer">
    <form  [formGroup]="formLabel" class="formLabel">
      <div class="savedWarn" *ngIf="savedLabelsWarn">
        {{savedLabelsWarn}}
      </div>
      <div class="groupContent">
        <mat-form-field class="group">
          <mat-label class="label">Chart Title: </mat-label>
          <input
            matInput
            type="text"
            name="title"
            maxlength="25"
            formControlName="title"
          >
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Value Suffix: </mat-label>
          <input
            matInput
            type="text"
            name="valueSufix"
            placeholder="%, km, $..."
            maxlength="10"
            formControlName="valueSufix"
          >
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Series Name: </mat-label>
          <input
            matInput
            type="text"
            name="seriesName"
            maxlength="25"
            formControlName="seriesName"
          >
        </mat-form-field>
      </div>
      <button class="submit" mat-raised-button type="submit" (click)="onSubmitLabels()">Save Labels</button>
    </form>

    <form  [formGroup]="formData" class="formData">
      <div class="savedWarn" *ngIf="savedDataWarn">
        {{savedDataWarn}}
      </div>
      <div class="groupContent">
        <mat-form-field class="group">
          <mat-label class="label">Piece Name: </mat-label>
          <input
            matInput
            type="text"
            name="pieceName"
            maxlength="25"
            formControlName="pieceName"
            required
          >
          <mat-error>
            <span class="form_error">
              <strong>*Piece Name is required</strong>
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Value: </mat-label>
          <input
            matInput
            type="number"
            name="percentage"
            maxlength="9"
            formControlName="percentage"
            required
          >
          <mat-error>
            <span class="form_error">
              <strong>*Value is required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <button class="submit" mat-raised-button type="submit" (click)="onSubmitData()" [disabled]=!formData.valid>Save Data</button>
    </form>

    <div class="tableContent">
      <table class="dataDB">
        <div class="deleteWarn" *ngIf="deleteWarn">
          {{deleteWarn}}
        </div>
        <tr class="dataElements" *ngFor="let element of dataSeries">
          <td class="elemetName">
            {{element.name}}
          </td>
          <td class="elemetData">
            <div class="data">
              {{element.data}} {{pieChartLabels.valueSufix}} =
            </div>
            <div class="percentageUnit">
              {{(element.dataNum*100)/totalPercentageNum | number: '1.1-1'}} %
            </div>
            <div class="icon">
              <i class="fas fa-trash"
                 title="Delete this Element"
                 (click)="deleteSeries(element.id)">
              </i>
            </div>
          </td>
        </tr>
      </table>
      <div class="percentage">
        Total Sum: {{totalPercentage}} {{pieChartLabels.valueSufix}}
      </div>
    </div>
  </div>

  <app-widget-pie
    class="pieSection"
    (dataSeries)="dataSeriesOutput($event)"
    (dataLabelsId)="getIdLabel($event)"
    (dataSeriesLocal)="dataSeriesLocalOutput($event)"
    (getLocalLabels)="getLocalLabels($event)">
  </app-widget-pie>
</div>

<app-warnings
  *ngIf="modal"
  [okWarning]="okWarning"
  [errorWarning]="errorWarning"
  [sync]="sync"
  (deactivateErrorMessage)="modalOff($event)"
></app-warnings>
