<div class="wrapper">
  <div class="formContainer">
    <form  [formGroup]="formLabel" class="formLabel">
      <div class="savedWarn" *ngIf="savedLabelsWarn">
        {{savedLabelsWarn}}
      </div>
      <div class="groupContent">
        <mat-form-field class="group">
          <mat-label class="label">Chart Title: </mat-label>
          <input
            matInput
            type="text"
            name="title"
            maxlength="25"
            formControlName="title"
          >
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Value Suffix: </mat-label>
          <input
            matInput
            type="text"
            name="valueSufix"
            placeholder="%, km, $..."
            maxlength="10"
            formControlName="valueSufix"
          >
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Series Name: </mat-label>
          <input
            matInput
            type="text"
            name="seriesName"
            maxlength="25"
            formControlName="seriesName"
          >
        </mat-form-field>
      </div>
      <button class="submit" mat-raised-button type="submit" (click)="onSubmitLabels()">Save Labels</button>
    </form>

    <form  [formGroup]="formData" class="formData">
      <div class="savedWarn" *ngIf="savedDataWarn">
        {{savedDataWarn}}
      </div>
      <div class="groupContent">
        <mat-form-field class="group">
          <mat-label class="label">Piece Name: </mat-label>
          <input
            matInput
            type="text"
            name="pieceName"
            maxlength="25"
            formControlName="pieceName"
            required
          >
          <mat-error>
            <span class="form_error">
              <strong>*Piece Name is required</strong>
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="group">
          <mat-label class="label">Value: </mat-label>
          <input
            matInput
            type="number"
            name="percentage"
            maxlength="9"
            formControlName="percentage"
            required
          >
          <mat-error>
            <span class="form_error">
              <strong>*Value is required</strong>
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <button class="submit" mat-raised-button type="submit" (click)="onSubmitData()" [disabled]=!formData.valid>Save Data</button>
    </form>

    <div class="tableContent">
      <table class="dataDB">
        <div class="deleteWarn" *ngIf="deleteWarn">
          {{deleteWarn}}
        </div>
        <tr class="dataElements" *ngFor="let element of dataSeries">
          <td class="elemetName">
            {{element.name}}
          </td>
          <td class="elemetData">
            <div class="data">
              {{element.data}} {{pieChartLabels.valueSufix}} =
            </div>
            <div class="percentageUnit">
              {{(element.data*100)/totalPercentage | number: '1.1-1'}} %
            </div>
            <div class="icon">
              <i class="fas fa-trash"
                 title="Delete this Element"
                 (click)="deleteSeries(element.id)">
              </i>
            </div>
          </td>
        </tr>
      </table>
      <div class="percentage">
        Total Sum: {{totalPercentage}} {{pieChartLabels.valueSufix}}
      </div>
    </div>
  </div>

  <app-widget-pie
    class="pieSection"
    (dataSeries)="dataSeriesOutput($event)"
    (dataLabelsId)="getIdLabel($event)">
  </app-widget-pie>
</div>
