.wrapper{
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  @import './styles/sync.scss';

  .formContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;

    @import './styles/formLabel.scss';

    @import './styles/formData.scss';

    @import './styles/tableContent.scss';
  }
}

::ng-deep .formLabel,::ng-deep .formData {
  .mat-focused .mat-form-field-ripple {
    background-color: whitesmoke !important;
  }
  .mat-focused .mat-form-field-label {
    color: yellowgreen !important;
  }
  .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  .mat-form-field-underline{
    background-color:yellowgreen !important;
  }
  .mat-input-element::placeholder{
    color: rgb(145, 143, 143);
  }
}
