@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.info{
  .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;

    h3{
      margin: 0;
      line-height: 2px;
      font-family: 'Rajdhani', sans-serif;
      font-weight: bolder;
    }

    h4{
      margin: 0;
      font-family: 'Rajdhani', sans-serif;
      font-weight: bolder;
    }
  }

  .stadistics{
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .numberTarget{
      font-size: 30px;
      font-family: 'Rajdhani', sans-serif;
      font-weight: bolder;

      .textTarget{
        font-size: 15px;
        font-family: 'Rajdhani', sans-serif;
      }
    }

    .numAverage{
      font-size: 30px;
      font-family: 'Rajdhani', sans-serif;
      font-weight: bolder;

      .textAverage{
        font-size: 15px;
        font-family: 'Rajdhani', sans-serif;

        .up{
          color: yellowgreen;
        }

        .down{
          color: rgb(255, 0, 0);
        }
      }
    }
  }

  .mat-icon,
  .description{
    color: green;
    font-size: 2em;
  }

  .mat-icon{
    position: relative;
    padding: 0 20px;
    top: 5px;
  }
}
