<div class="info" >
  <div class="main">
    <h3>{{label}}</h3>
    <h4>target {{target}}</h4>
  </div>
  <hr>

  <div class="stadistics">
    <span class="numberTarget" [style.color]="percentage < 100? 'red': 'yellowgreen'">
      {{percentage}}<span class="textTarget">% of target </span>
    </span>

    <span class="numAverage">
      {{average}}
      <span class="textAverage">
        Average
        <mat-icon *ngIf="average<target" class="down">trending_down</mat-icon>
        <mat-icon *ngIf="average>target" class="up">trending_up</mat-icon>
      </span>
    </span>
  </div>

</div>

<div class="widget">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 80px; display: block;"
  ></highcharts-chart>
</div>








<!--
 -->


<!--
  [constructorType]="chartConstructor"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"
-->

