<div class="area">
  <app-widget-area ></app-widget-area>
</div>

<br>
  <mat-divider></mat-divider>
<br>

<div  fxLayout="row wrap" fxLayoutAlign="center" class="stats-cards" >
  <mat-card *ngFor="let item of cards" fxFlex="23">
    <app-widget-card [label]="item.name" [average]="item.average" [percentage]="item.targetPercentage" [data]="item.data" [target]="item.target"></app-widget-card>
  </mat-card>
</div>

<br>
  <mat-divider></mat-divider>
<br>


<app-widget-pie></app-widget-pie>

<app-widget-table></app-widget-table>

