.area{
  box-shadow: 0px 0px 10px 2px black;
}

.stats-cards{
  .mat-card{
    overflow: hidden;
    margin-top: 20px;
    background:#3d3d3d;
    color: whitesmoke;
    box-shadow: 0px 0px 10px 2px black;
    min-width: 250px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

table {
  width: 100%;
}


.tablepie{
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  .tableContainer{
    min-width: 250px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 2px black;
  }
  .widgetContainer{
    min-width: 250px;
    box-shadow: 0px 0px 10px 2px black;
  }
}
