
<form class="tableLabelsForm" #tableLabelsForm='ngForm' (ngSubmit)="onSubmitLabelsTable(tableLabelsForm)">
  <div class="groupContent">
    <div class="group">
      <label for="header1">Header 1:</label>
      <input type="text" name='header1' #header1='ngModel' [(ngModel)]="tableLabelLine.header1">
    </div>

    <div class="group">
      <label for="header2">Header 2:</label>
      <input type="text" name='header2' #header2='ngModel' [(ngModel)]="tableLabelLine.header2">
    </div>

    <div class="group">
      <label for="header3">Header 3:</label>
      <input type="text" name='header3' #header3='ngModel' [(ngModel)]="tableLabelLine.header3">
    </div>
  </div>
  <input type="submit" value="Save Labels">
</form>



<form class="tableDataForm" #tableDataForm='ngForm'   (ngSubmit)="onsubmitDataTable(tableDataForm)" *ngIf="idLabel"><!---->
  <div class="groupContent">
    <div class="group">
      <label for="dataH1">Value H1:</label>
      <input type="text" name='dataH1' #dataH1='ngModel' [(ngModel)]="tableDataLine.dataH1">
    </div>
    <div class="group">
      <label for="dataH2">Value H2:</label>
      <input type="text" name='dataH2' #dataH2='ngModel' [(ngModel)]="tableDataLine.dataH2">
    </div>
    <div class="group">
      <label for="dataH3">Value H3:</label>
      <input type="text" name='dataH3' #dataH3='ngModel' [(ngModel)]="tableDataLine.dataH3">
    </div>
  </div>
  <input type="submit" value="Save Data Line">


</form>

<app-widget-table (dataSeries)="dataSeriesOutput($event)" (dataLabelsId)="getIdLabel($event)"></app-widget-table>


