.tableLabelsForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px black;

  .emptyheaders{
    color: yellow;
    text-align: center;
    margin-top: 10px;
  }

  .savedWarn{
    color: yellowgreen;
    text-align: center;
    margin-top: 10px;
  }

  .groupContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    //border: 1px solid yellow;
    gap: 10px;

    .group{
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      input:-webkit-autofill {
        border: none;
        -webkit-text-fill-color: whitesmoke;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      // label{
      //   margin: 10px 10px 0;
      // }

      // input[type=text]{
      //   background: transparent;
      //   color: whitesmoke;
      //   border: none;
      //   border-bottom: 1px solid yellowgreen;
      //   outline: none;
      // }
    }
  }

  .submit{
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 10px;
    background: yellowgreen;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .submit:hover{
    box-shadow: 0px 0px 10px 2px yellowgreen;
    text-shadow: none;
  }

  .submit:active{
    box-shadow: none;
  }


  // input[type=submit]{
  //   width: fit-content;
  //   border: none;
  //   border-radius: 5px;
  //   padding: 5px 10px;
  //   margin-top: 10px;
  //   background: yellowgreen;
  //   color: white;
  //   text-shadow: 2px 2px 2px black;
  // }

  // input[type=submit]:hover{
  //   box-shadow: 0px 0px 10px 2px yellowgreen;
  //   text-shadow: none;
  // }

  // input[type=submit]:active{
  //   box-shadow: none;
  // }
}

.tableDataForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px black;

  .savedWarn{
    color: yellowgreen;
    text-align: center;
    margin-top: 10px;
  }

  .groupContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    //border: 1px solid yellow;
    gap: 10px;

    .group{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;

      input:-webkit-autofill {
        border: none;
        -webkit-text-fill-color: whitesmoke;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      // label{
      //   margin: 10px 10px 0;
      // }

      // input[type=text]{
      //   background: transparent;
      //   color: whitesmoke;
      //   border: none;
      //   border-bottom: 1px solid yellowgreen;
      //   outline: none;
      // }
    }
  }

  // .form_error{
  //   margin-top: 10px;
  //   color: red;
  //   font-size: 12px;
  // }

  .submit{
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 10px;
    background: yellowgreen;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .submit:hover{
    box-shadow: 0px 0px 10px 2px yellowgreen;
    text-shadow: none;
  }

  .submit:active{
    box-shadow: none;
  }

  .submit:disabled{
    background: rgba(10, 10, 10, 0.274);
    color: rgb(133, 133, 133);
    box-shadow: none;
  }
}

::ng-deep .tableLabelsForm,::ng-deep .tableDataForm {
  .mat-focused .mat-form-field-ripple {
    background-color: whitesmoke !important;
  }
  .mat-focused .mat-form-field-label {
    color: yellowgreen !important;
  }
  .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  .mat-form-field-underline{
    background-color:yellowgreen !important;
  }
  .mat-input-element::placeholder{
    color: rgb(145, 143, 143);
  }
}
