<form [formGroup]="tableLabelsForm" class="tableLabelsForm">
  <div class="emptyheaders" *ngIf="!tableLabelLine.header1 && !tableLabelLine.header2 && !tableLabelLine.header3">
    <p>
      <i class="fas fa-exclamation-triangle"></i>
      Please save table headers to activate values section !!!
    </p>
  </div>
  <div class="savedWarn" *ngIf="savedLabelsWarn">
    {{savedLabelsWarn}}
  </div>
  <div class="groupContent">
    <mat-form-field class="group">
      <mat-label class="label">Header 1:</mat-label>
      <input
        matInput
        type="text"
        name='header1'
        formControlName="header1"
      >
    </mat-form-field>
    <mat-form-field class="group">
      <mat-label class="label">Header 2:</mat-label>
      <input
        matInput
        type="text"
        name='header2'
        formControlName="header2"
      >
    </mat-form-field>
    <mat-form-field class="group">
      <mat-label class="label">Header 3:</mat-label>
      <input
        matInput
        type="text"
        name='header3'
        formControlName="header3"
      >
    </mat-form-field>
  </div>
  <button
    class="submit"
    mat-raised-button type="submit"
    (click)="onSubmitLabelsTable()"
  >
    Save Labels
  </button>
</form>

<form [formGroup]="tableDataForm" class="tableDataForm" *ngIf="idLabel">
  <div class="savedWarn" *ngIf="savedDataWarn">
    {{savedDataWarn}}
  </div>
  <div class="groupContent">
    <mat-form-field class="group">
      <mat-label class="label">Value H1:</mat-label>
      <input
        matInput
        type="text"
        name='dataH1'
        formControlName="dataH1"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Value H1 is required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="group">
      <mat-label class="label">Value H2:</mat-label>
      <input
        matInput
        type="text"
        name='dataH2'
        formControlName="dataH2"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Value H2 is required</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="group">
      <mat-label class="label">Value H3:</mat-label>
      <input
        matInput
        type="text"
        name='dataH3'
        formControlName="dataH3"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Value H3 is required</strong>
        </span>
      </mat-error>
    </mat-form-field>
  </div>
  <button
    class="submit"
    mat-raised-button
    type="submit"
    (click)="onsubmitDataTable()"
    [disabled]="!tableDataForm.valid"
  >
    Save Data Line
  </button>
</form>

<app-widget-table  (dataLabelsId)="getIdLabel($event)"></app-widget-table>
