@import './styles/sync.scss';

@import './styles/tableLabels.scss';

@import './styles/tableData.scss';

::ng-deep .tableLabelsForm,::ng-deep .tableDataForm {
  .mat-focused .mat-form-field-ripple {
    background-color: whitesmoke !important;
  }
  .mat-focused .mat-form-field-label {
    color: yellowgreen !important;
  }
  .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
  }
  .mat-form-field-underline{
    background-color:yellowgreen !important;
  }
  .mat-input-element::placeholder{
    color: rgb(145, 143, 143);
  }
}

::ng-deep .mat-paginator{
  background: #313131;
  color: whitesmoke;

  ::ng-deep .mat-paginator-page-size-select {
    width: 27px!important;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #0071c2;
  }

  ::ng-deep .mat-select-value {
    color: #0071c2;
    font-weight: bold;
    font-size: 13px;
    padding-right: 15px;
  }

  ::ng-deep .mat-select-arrow {
    color: #0071c2;
  }

  ::ng-deep .mat-option{
    padding: 0 !important;
  }

  ::ng-deep .mat-option-text {
    text-align: right;
  }
}
