:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  height: 50px;
}

mat-drawer-container{
  height: 100%;

  mat-drawer{
    width: 300px;
    background: #313131;
  }

  mat-drawer-content{
    padding: 20px;
  }

  @media screen and(max-width:590px){
    mat-drawer{
      width: 100%;
    }
  }
}

