:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  height: 50px;
  background: rgba(255, 255, 0, 0);
}

mat-drawer{
  width: 300px;
}


mat-drawer-container{
  height: 100%;


  mat-drawer{
    background: #313131;
    app-sidebar{
    }
  }
  mat-drawer-content{
    padding: 20px;
  }
}


