.formData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: 30%;
  height: fit-content;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 5px;

  .savedWarn{
    color: yellowgreen;
    font-size: 12px;
    text-align: center;
  }

  .groupContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .group{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 90%;
      margin-top: 10px;

      input:-webkit-autofill {
        border: none;
        -webkit-text-fill-color: whitesmoke;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  .submit{
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 10px;
    background: yellowgreen;
    color: white;
    text-shadow: 2px 2px 2px black;
    &:hover{
      box-shadow: 0px 0px 10px 2px yellowgreen;
      text-shadow: none;
    }
    &:active{
      box-shadow: none;
    }
  }

  .submit:disabled{
    background: rgba(10, 10, 10, 0.274);
    color: rgb(133, 133, 133);
    box-shadow: none;
  }
}
